body {
	padding-top: 51px;
}
.navbar-inverse {
	background-color: rgba(0, 0, 0, 0.8);
}
#navbartwo {
	font-size: 1.65em;
}
.image {
	border: 3px black solid;
}
h1 {
	font-family: helvetica;
	font-size: 30px;
}
a {
	color: gray;
}
a hover {
	color: black;
}
#main-article {
	padding-bottom: 20px;
}